header {
    display: flex;
    position: sticky;
    align-items: center;
    justify-items: center;
    .logo {
        margin-left: auto;
        margin-right: auto;
        img {
            scale: 0.5;
        }
    }
    .arrow {
        position: relative;
        left: 30px;
        scale: 1.5;
        i {
            color: $colour-footer;
        }
    }
}