.menu__cards--card {
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    height: 80px;
    overflow: hidden;

    h3 {
        @include margin-cards;
        width: fit-content;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: no-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 20px;
        z-index: 1;
    }
    .excerpt {
        @include margin-cards;
        width: fit-content;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: no-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 20px;
        z-index: 1;

    }
    .price {
        position: relative;
        left: 90%;
        bottom: 35px;
        font-weight: bold;
        transition: transform 500ms ease-in-out;
        z-index: 1;
    }
    .wraper {
        transition: transform 500ms ease-in-out;
        display: flex;
        position: relative;
        width: fit-content;
        left: 109%;
        bottom: 70%;
        z-index: 1;
        color: $colour-font;
        .check {
            color: $colour-font;
            font-size: 25px;
            z-index: 1;
        }
    }
    .background {
        background-color: $colour-tertiary;
        padding: 40px;
        width: 50px;
        position: relative;
        bottom: 107px;
        left: 105%;
        transition: transform 500ms ease-in-out;
    }
    &:hover .check {
        transform: rotate(360deg);  
        transition: transform 500ms ease-in-out;
    }
    &:hover .price {
        @include translate(-100px);   
    }
    &:hover .background {
        @include translate(-100px);
    }
    &:hover .wraper {
        @include translate(-100px);
    }
}

@keyframes appearing {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

button {
    width: 250px;
    height: 70px;
    color: white;
    font-size: larger;
    background-color: adjust-hue($color: #000000, $degrees: 0);
    border-radius: 50px;
    align-self: center;
    margin: 20px 0;
    box-shadow: 1px 3px;
    cursor: pointer;
}

.card {
    width: 400px;
    box-shadow: 0px 5px 20px #999;
    border-radius: 10px;
    margin: 20px auto;
    a {
        text-decoration: none;
        color: black;
        .card__image {
            height: 200px;
            position: relative;
            overflow: hidden;
            border-radius: 10px 10px 0 0;
            img {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &--nouveau {
                display: flex;
                background-color: $colour-tertiary;
                position: relative;
                width: 80px;
                height: 30px;
                top: 10px;
                left: 305px;
                align-items: center;
                justify-content: center;
                color: $colour-tertiary-font;
                font-weight: bolder;
                font-size: 14px;
                border-radius: 2px;
            }
        }
        .card__body {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            height: 65px;
            &--heart {
                position: relative;
                left: 90%;
                bottom: 30px;
            }
            &--title {
                margin: 10px 0 5px 0;
                font-weight: bolder;
            }
        }
    }
}

.loader {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 100vh;
    width: 100%;
    z-index: 100;
    @include disappear-loader;
    .primary {
        @include circle-loader($colour-primary, 0s);
    }
    .secondary {
        @include circle-loader($colour-secondary, 150ms);
    }
    .tertiary {
        @include circle-loader($colour-tertiary, 300ms);
    }
}

@keyframes spin-loader {
    33% {
        transform: rotate(360deg);
    }
    66% {
        transform: rotate(720deg);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: rotate(1080deg);
        opacity: 0;
    }
}

@keyframes disappear {
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

.fa-heart {
    font-weight: 900;
    font-size: 1.5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 2px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    transform-origin: right;
    width: fit-content;
    fill: transparent;
    &::after {
        content: '';
        display: flex;
        width: 25px;
        height: 25px;
        background-color: $colour-secondary;
        transition: transform 300ms ease-in-out;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    &:hover::after {
        transform: translateY(-25px);
    }
}