.menu__cards--card {
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    height: 80px;
    h3 {
        @include margin-cards;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: no-wrap;

    }
    .excerpt {
        @include margin-cards;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: no-wrap;

    }
    .price {
        position: relative;
        left: 90%;
        bottom: 35px;
        font-weight: bold;
    }
    .check {
        position: relative;
        justify-self: center;
        padding: 40px;
        left: 102%;
        bottom: 95px;
        background-color: $colour-tertiary;
        color: $colour-font;
        font-size: 25px;
    }
    &:hover .check{
        animation: translate-check 500ms ease-in-out infinite;
    }
}

@keyframes translate-check {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100px);
        rotate: 360;
    }
}

button {
    width: 250px;
    height: 70px;
    color: white;
    font-size: larger;
    background-color: adjust-hue($color: #000000, $degrees: 0);
    border-radius: 50px;
    align-self: center;
    margin: 20px 0;
    box-shadow: 1px 3px;
    cursor: pointer;
}

.card {
    width: 400px;
    box-shadow: 0px 5px 20px #999;
    border-radius: 10px;
    margin: 20px auto;
    a {
        text-decoration: none;
        color: black;
        .card__image {
            height: 200px;
            position: relative;
            overflow: hidden;
            border-radius: 10px 10px 0 0;
            img {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &--nouveau {
                display: flex;
                background-color: $colour-tertiary;
                position: relative;
                width: 80px;
                height: 30px;
                top: 10px;
                left: 305px;
                align-items: center;
                justify-content: center;
                color: $colour-tertiary-font;
                font-weight: bolder;
                font-size: 14px;
                border-radius: 2px;
            }
        }
        .card__body {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            height: 65px;
            &--heart {
                position: relative;
                left: 90%;
                bottom: 30px;
            }
            &--title {
                margin: 10px 0 5px 0;
                font-weight: bolder;
            }
        }
    }
}