.menu__cards--card {
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    height: 80px;
/*     overflow: hidden; */
    h3 {
        @include margin-cards;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: no-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 20px;

    }
    .excerpt {
        @include margin-cards;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: no-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 20px;


    }
    .price {
        position: relative;
        left: 90%;
        bottom: 35px;
        font-weight: bold;
        transition: transform 500ms ease-in-out;
/*         @include translate-animation-in(translate-price-in);
 */    }
    .check {
        position: relative;
        justify-self: center;
        width: fit-content;
        left: 109%;
        bottom: 70%;
        color: $colour-font;
        font-size: 25px;
        z-index: 1;
        transition: transform 500ms ease-in-out;
        // Petit problème, j'arrive pas à ce que .check retourne
        // à sa place initiale sans rotate, comme dans l'exemple
/*         @include translate-animation-in(translate-check-in);
 */    }
    .background {
        background-color: $colour-tertiary;
        padding: 40px;
        width: 50px;
        position: relative;
        bottom: 107px;
        left: 105%;
        transition: transform 500ms ease-in-out;
/*         @include translate-animation-in(translate-background-in);
 */    }
    &:hover .check {
        transform: translateX(-100px) rotate(360deg);  
/*         @include translate-animation-out(translate-check-out);
 */    }
    &:hover .price {
        transform: translateX(-100px);   
/*         @include translate-animation-out(translate-price-out);
 */    }
    &:hover .background {
        transform: translateX(-100px);
/*         @include translate-animation-out(translate-background-out);
 */    }
}

/* @keyframes translate-check-in {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100px) rotate(360deg);
    }
}

@keyframes translate-check-out {
    0% {
        transform: translate(-100px);
    }
    100% {
        transform: translate(0px);
    }
}

@keyframes translate-price-in {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100px);
    }
}

@keyframes translate-background-in {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100px);
    }
} */

button {
    width: 250px;
    height: 70px;
    color: white;
    font-size: larger;
    background-color: adjust-hue($color: #000000, $degrees: 0);
    border-radius: 50px;
    align-self: center;
    margin: 20px 0;
    box-shadow: 1px 3px;
    cursor: pointer;
}

.card {
    width: 400px;
    box-shadow: 0px 5px 20px #999;
    border-radius: 10px;
    margin: 20px auto;
    a {
        text-decoration: none;
        color: black;
        .card__image {
            height: 200px;
            position: relative;
            overflow: hidden;
            border-radius: 10px 10px 0 0;
            img {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &--nouveau {
                display: flex;
                background-color: $colour-tertiary;
                position: relative;
                width: 80px;
                height: 30px;
                top: 10px;
                left: 305px;
                align-items: center;
                justify-content: center;
                color: $colour-tertiary-font;
                font-weight: bolder;
                font-size: 14px;
                border-radius: 2px;
            }
        }
        .card__body {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            height: 65px;
            &--heart {
                position: relative;
                left: 90%;
                bottom: 30px;
            }
            &--title {
                margin: 10px 0 5px 0;
                font-weight: bolder;
            }
        }
    }
}