@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');

* {
    font-family: $font-general;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.menu__cards--title {
    font-weight: 50;
    text-transform: uppercase;
}

.fa-heart {
    font-weight: 900;
    font-size: 1.5rem;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 2px;
}