.accueil {
    background-color: $colour-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__location {
        padding: 20px 0;
        background-color: $colour-background-darker;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 22px;
        & input {
            padding: 0;
            margin: 0;
            border: none;
            color: black;
            background: $colour-background-darker;
            max-width: 200px;
            &::placeholder {
                color: black;
                opacity: 1;
                font-weight: bolder;
                text-align: center;
            }
        }
        .fa-location-dot {
            padding: 10px;
        }
    }
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            text-align: center;
        }
        &--excerpt {
            font-size: 25px;
            text-align: center;
            width: 80%;
        }
    }
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    ol {
        list-style: none;
        padding-left: 0;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        @include tablet-display {
            
        }
        @include desktop-display {
            flex-direction: row;
            justify-content: space-evenly;
        }
        li {
            background-color: $colour-background;
            height: 80px;
            border-radius: 15px;
            margin: 15px 0 0 0;
            align-items: center;
            display: flex;
            @include box-shadow;
            @include desktop-display {
                min-width: 247px;
                width: 30%;
            }
            &:hover {
                cursor: pointer;
                @include colour-primary-hover($colour-primary);
            }
            &:hover .fa-solid {
                color: $colour-primary;
            }
            div {
                display: flex;
                align-items: baseline;
                position: relative;
                right: 14px;
                width: 100%;
                font-weight: bold;
                font-size: larger;
                .number {
                    color: $colour-font;
                    background-color: $colour-primary;
                    padding: 5px 10px;
                    border-radius: 100%;
                    margin-right: auto;
                }
                .fa-solid {
                    margin-right: auto;
                    @include logo-font($colour-background);
                }
                .text-fonctionnement {
                    margin-right: auto;
                }
            }

        }
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    h2 {
        margin-left: 20px;
    }
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include desktop-display {
            flex-flow: row wrap;
        }
    }
}