.image {
    position: absolute;
    &-menu {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.menu {
    position: relative;
    bottom: -250px;
    display: flex;
    flex-direction: column;
    background-color: $colour-background;
    @include padding-menu;
    border-radius: 50px 50px 0 0;
    &__title {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &--h1 {
            @include font-title;
        }
        .card__body--heart {
            align-self: center;
            padding-left: 15px;
        }
    }
    &__cards {
        display: flex;
        flex-direction: column;
        animation: appearing 500ms ease-in-out forwards;
        @include appearing;
        &--underline {
            background-color: $colour-tertiary;
            width: 60px;
            height: 5px;
            margin-bottom: 5px;
        }
        &--title {
            margin-bottom: 5px;
        }
    }

}