$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99e2d0;
$colour-footer: #353535;

$font-general: Roboto, Arial, Helvetica, sans-serif;
$font-title: Shrikhand, Arial, Helvetica, sans-serif;