$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99e2d0;
$colour-tertiary-font: darken($colour-tertiary, 33%);
$colour-footer: #353535;
$colour-background: #f6f6f6;
$colour-background-darker: darken($colour-background, 5%);
$colour-font: white;

$font-general: Roboto, Arial, Helvetica, sans-serif;

$breakpoints: (
    desktop: 768px,
    tablet: 576px
);

@mixin desktop-display {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin tablet-display {
    @media screen and (min-width: map-get($breakpoints, tablet)) and (max-width: calc(map-get($breakpoints, desktop) - 1px)){
        @content;
    }
}

@mixin padding-menu {
    padding: 0 20px;
}

@mixin font-title {
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
    font-size: 40px;
}

@mixin margin-cards($margin-top) {
    margin: $margin-top 0 5px 15px;
}

@mixin colour-primary-hover($colour) {
    $colour: lighten($colour, 35%);
    background-color: $colour;
}

@mixin logo-font($colour) {
    $colour: darken($colour, 60%);
    color: $colour;
}

@mixin box-shadow {
    box-shadow: 0px 10px 41px -34px rgba(0, 0, 0, 1);
}

// Translate card animation

@mixin translate($length) {
    transform: translateX($length);
}

@mixin transition-translate {
    transition: transform 500ms ease-in-out;
}

// Text ellipsis animation 

@mixin ellipsis {
    width: calc(80% - 100px);
}

@mixin transition-ellipsis {
    transition: width 500ms ease-in-out;
}

// Cards appearing animation

@mixin appearing-delay {
    @keyframes appearing {
        0% {
            transform: translateY(50px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

@mixin appearing-delay-parents {
    @for $i from 1 to 5 {
        .menu__cards--card:nth-child(#{$i}) {
            animation-delay: #{$i*150ms};
        }
    }
}

// Loader animation

@mixin circle-loader($colour, $delay) {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-left-color: $colour;
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    animation: spin-loader 4.5s cubic-bezier(.74,0,.16,1) $delay forwards;
}

@mixin disappear-loader {
    animation:  disappear 4.5s forwards;
}
