$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99e2d0;
$colour-footer: #353535;
$colour-background: #e4e4e4;

$font-general: Roboto, Arial, Helvetica, sans-serif;

@mixin padding-menu {
    padding: 0 20px;
}

@mixin font-title {
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
    font-size: 40px;
}

@mixin margin-cards {
    margin: 5px 0 5px 15px;
}